<ds-themed-home-news></ds-themed-home-news>
<div class="container">
  <ng-container *ngIf="(site$ | async) as site">
    <ds-view-tracker [object]="site"></ds-view-tracker>
    </ng-container>
    <ds-themed-search-form [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-themed-search-form>
    <p class="homepage-header">
        <span class="emphasis">
            University of Edinburgh Exam Papers Online: 2004/05 to 2023/24
        </span>
    </p>
    <p>
        Exam question papers from the 2023-24 diet are now being added here. These pages are updated periodically as papers become available. If you cannot find what you are looking for, try visiting again at a later date or email <a href="mailto:exam.papers@ed.ac.uk">exam.papers@ed.ac.uk</a>.
    </p>
    <div id="search-tip-box" class="ds-static-div">
        <span class="emphasis">Marking Guides and Sample Solutions</span>
        <p class="ds-paragraph">
            Please contact your course organiser or the course secretary to find out if any have been created for your course and how to access them.
        </p>
    </div>
    <span class="emphasis">Search Tips</span>
    <ul id="test_list" class="ds-simple-list">
        <li class="ds-simple-list-item">
            Typing in the course name or code will bring up suggestions for records already in the database.
        </li>
        <li class="ds-simple-list-item">
            If you cannot find the paper you are looking for from a title search, try entering the course code. Course codes can change over time. Click the 'All papers for this course' link in your search results to get full results for the course title.
        </li>
    </ul>
    <p class="ds-paragraph">
        Go to the <a href="/info/faqs" title="Link to the FAQs page">FAQs Page</a> for answers to frequently asked questions for students, and administrative and teaching staff.
    </p>
    <span class="emphasis">Alternative Formats</span>
    <p class="ds-paragraph"> 
         If you require an exam paper in an alternative format, such as large print or a coloured background, please contact the Exam Papers Online Team, by e-mail Exam Papers Online team, by email at <a href="mailto:exam.papers@ed.ac.uk">exam.papers@ed.ac.uk</a>, or by phone on 0131 651 1827.
    </p>
</div>
