<header>
    <div class="container">
        <div class="flex-row justify-content-between">
            <nav role="navigation" [attr.aria-label]="'nav.user.description' | translate" class="navbar navbar-light navbar-expand-md flex-shrink-0 px-0">
                <div class="col-sm-4 header-left"></div>
                <div class="col-sm-8 header-right">
                    <ul>
                        <li><a href="https://library.ed.ac.uk/exam-papers" title="Link to home page">Home</a></li>
                        <li><a routerLink="/info/about" title="Link to about page">About</a></li>
                        <li><a routerLink="/info/help" title="Link to help page">Help</a></li>
                        <li><a routerLink="/info/feedback" title="Link to feedback page">Feedback</a></li>
                        <li><a routerLink="/info/faqs" title="Link to FAQs page">FAQs</a></li>
                    </ul>
                </div>
                <!-- <ds-themed-auth-nav-menu></ds-themed-auth-nav-menu> -->
            </nav>
        </div>
    </div>  
</header>